cmake-build-debug/
.idea/
build/
outputs/
/cmake-build-debug---local/
/cmake-build-debug-centos-8/
/cmake-build-release-centos-8/
.vscode
.clang-format
logOutput.txt
statsLog.csv
make*.out
*.pyc
*.zip
clean-outputs
.*.icloud
.DS_Store
.*.swp
include/message.pb.h
src/message.pb.cc
googletest/
abseil-cpp/
protobuf/
