cmake-build-debug/
.idea/
build/
outputs/
/cmake-build-debug---local/
/cmake-build-debug-centos-8/
/cmake-build-release-centos-8/
.vscode
.clang-format
logOutput.txt
statslog.csv
make.out
*.pyc
*.zip
clean-outputs
